<div class="rows-bg rows-bg-dark fh-in">
  <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="action-button align-items-center">
    <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
    <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
  </div>
</div>