canvas {
  display: block;
  box-shadow: 0 0 5px 1px #999;
}

.canvas-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;
  max-width: 80px;
}

.canvas-container{
  display: flex;
  gap: 20px;
}