<div class="form-builder">
    <div class="container-fluid">
        <div class="row gx-3">
            <div class="col-lg-8">
                <div class="left-content">
                    <span *ngIf="form.length == 0" class="info-text">Drag a field from the right to this area</span>
                    <div>
                        <ng-container *ngFor="let item of form">
                            
                        </ng-container>
                        <!-- <app-header>
                        </app-header> -->
                        <!-- <div class="mt-3 fh-out">
                            <app-paragraph></app-paragraph>

                            <app-divider></app-divider>
                           
                        </div>
                        <div class="mt-3 fh-out">
                            <div class="form-element rows-bg row-3">
                                <app-input-text></app-input-text>
                                <app-input-number></app-input-number>
                                <app-radio-button></app-radio-button>
                            </div>
                            <div class="action-button align-items-center">
                                <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
                                <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
                            </div>
                        </div> -->

                        <!-- <div class="mt-3 fh-out">
                            <div class="form-element rows-bg row-1">
                                <app-datepicker></app-datepicker>
                            </div>
                            <div class="action-button align-items-center">
                                <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
                                <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
                            </div>
                        </div>

                        <div class="mt-3 fh-out">
                            <div class="form-element rows-bg row-3">
                                <app-radio-button></app-radio-button>
                                <app-select></app-select>
                                <app-select-multi></app-select-multi>
                            </div>
                            <div class="action-button align-items-center">
                                <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
                                <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
                            </div>
                        </div>

                        <div class="mt-3 fh-out">
                            <div class="form-element rows-bg row-3">
                                <app-checkbox></app-checkbox>
                                <app-slider></app-slider>
                                <app-slide-toggle></app-slide-toggle>
                            </div>
                            <div class="action-button align-items-center">
                                <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
                                <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
                            </div>
                        </div>

                        <div class="mt-3 fh-out">
                            <div class="form-element rows-bg row-3">
                                <app-text-area></app-text-area>
                            </div>
                            <div class="action-button align-items-center">
                                <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
                                <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
                            </div>
                        </div>

                        <div class="mt-3 fh-out">
                            <div class="form-element rows-bg row-3">
                                <app-button></app-button>
                            </div>
                            <div class="action-button align-items-center">
                                <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
                                <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-sidebar">
                    <ul>
                        <li *ngFor="let item of componentsList" [dndDraggable]="draggable"
                        >{{item.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>