<div class="rows-bg rows-bg-dark fh-in">

    <mat-form-field class="example-full-width">
        <mat-label>{{item.properties?.label}}</mat-label>
        <input type="email" matInput placeholder="{{item?.properties?.placeholder}}">
    </mat-form-field>

      <div class="action-button align-items-center">
        <a href="javascript: void(0)" (click)="edit()" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
        <a href="javascript: void(0)" (click)="close()" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
    </div>
</div>