.score-container {
    padding: 20px;
    background: #f0f0f0;
    margin: 20px 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.risk {
    font-weight: normal;
    font-size: 16px;
    margin-top: 20px;
    color: red;
}