<div class="rows-bg rows-bg-dark fh-in">

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Ex. pat@example.com">
        <!-- <mat-error>
        Please enter a valid email address
    </mat-error>
    <mat-error>
        Email is <strong>required</strong>
    </mat-error> -->
    </mat-form-field>

    <div class="action-button align-items-center">
        <a href="#" class="edit-icon"><img src="../../assets/images/edit.png" alt=""></a>
        <a href="#" class="close-icon"><img src="../../assets/images/close.png" alt=""></a>
    </div>
</div>